* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
}

body {
    background: #F7FAFC;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"><text x="0" y="15" font-size="20" fill="%23e1e7ee">+</text></svg>');
}

/* Banner */
.background {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #324F71, #54A3A8);
    padding: 96px 0;
    text-align: center;
    color: white;
}
.background .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 16px;
}

.banner h1 {
    font-size: clamp(2.3rem, 5vw, 2.9rem);
    margin-bottom: 24px;
}

.banner p {
    font-size: 1.3rem;
    margin: 0 0px 32px;
    /* margin-bottom: 32px; */
}

.banner-buttons {
    display: flex;
    gap: 16px;
}

.banner-buttons button {
    padding: 16px 32px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.btn-yellow {
    background-color: #f6c26b;
    border: none;
    color: #333;
}

.btn-disabled {
    background-color: #f1f1f1;
    color: #17354d;
    cursor: not-allowed;
    border: none;
}

/* Recursos */
.recursos {
    padding: 64px 16px;
    text-align: center;
    width: 100%;
}

.recursos h2 {
    margin-bottom: 40px;
    font-size: 1.8rem;
    color: #1d3557;
}

.cards {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    justify-content: center;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0;
}

.card {
    flex: 1 1 300px;
    background: white;
    padding: 24px;
    max-width: 100%;
    border-radius: 12px;
    box-shadow: 0 0 10px #ddd;
    text-align: left;
}

.card i {
    /* border: 1px solid black; */
    background: #E8EBEE;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    margin-bottom: 16px;
    color: #13294b;
}
.card h3 {
    margin-bottom: 8px;
}

/* Benefícios */
.beneficios {
    background: #13294b;
    color: white;
    padding: 60px 20px;
    text-align: center;
}

.beneficios h2 {
    margin-bottom: 30px;
    font-size: 30px;
}

.beneficios h3 {
    font-size: 20px;
    margin-bottom: 8px;
}


.beneficios-lista {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.beneficios-lista .lista {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    max-width: 50%;
    margin: 0;
    text-align: left;
}

.lista .item {
    display: flex;
    flex-direction: row;
}

.lista .item .elemento {
    margin-left: 8px;
}

.lista .item i {
    font-size: 25px;
}

.beneficios-lista i {
    color: #2ec4b6;
    margin-right: 10px;
}

/* Chamada final */
.cta {
    background: #f7f9fc;
    padding: 64px 0;
    text-align: center;
}

.cta .container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 16px;
}

.cta h2 {
    font-size: 33px;
}

.cta p {
    margin-bottom: 16px;
    font-size: 18px;
    max-width: 672px;
    margin: 0 auto 32px;
    /* padding: 0 5px; */
    letter-spacing: 1px;
}

.btn-azul {
    background-color: #13294b;
    color: white;
    padding: 16px 32px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    /* margin-top: 20px; */
    cursor: pointer;
    font-size: 14px;
}


/* Responsividade */

@media (max-width: 425px) {

    .cards {
        flex-wrap: wrap;
    }

    .beneficios-lista {
        flex-direction: column;
        gap: 40px; /* aumenta o espaçamento vertical */
    }

    .beneficios-lista .lista {
        max-width: 100%;
    }
}